body{
	background-color: #80DEEA;
}
#div_general{
	width: 100%;
	float: left;
}
#div_botones{

	width: 21%;
	float: left;
}

#img1{
	border-radius: 34px 34px 34px 34px;
	-moz-border-radius: 34px 34px 34px 34px;
	-webkit-border-radius: 34px 34px 34px 34px;
	border: 0px solid #000000;
}

#color{
	width: 85%;
	float: left;

}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

#color{
	width: 88%;
	float: left;
}

input{
	background-color: #5CD4FF;
}

select{
	background-color: #5CD4FF;
}

div.city{
padding: 10px 10px 15px 400px;
}